// Color Bank
// Blue #1E1CD8 Red #E91C23 Yellow #EAA206 Crimson #ac0611
// Light Blue #cdedee Mint Blue #ade4ee Sand #e5d5cc
// Blue #4592af Light Purple #f4e6f0 Grassy Green #afa75f
// BV Green #009D48 BV Orange #F25B1D

:root {
  --text-color: #1e1cd8;
  --background-color: #f3f3f3;
}

$bodyColor: var(--text-color);
$backgroundColor: var(--background-color);

$bodyFont: 'Arial', sans-serif;

$desktopRule: 2000px;
$laptopRule: 1000px;
$tabletRule: 700px;
$mobileRule: 500px;

// GENERAL STYLES ****************************************************
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;

  color: $bodyColor;
  font-family: $bodyFont;
}

::selection {
  color: $backgroundColor;
  background: $bodyColor;
}

a,
.link-button {
  display: inline-block;
  text-decoration: underline 1px;
  text-underline-offset: 2px;
  cursor: pointer;

  &:active {
    background-color: transparent;
  }

  @media (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

html,
body {
  height: 100svh;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: $backgroundColor;

  @media (max-width: $tabletRule) {
    font-size: 0.8rem;
  }
  @media (max-width: $mobileRule) {
    font-size: 0.7rem;
  }
}

// LAYOUT STYLES ****************************************************

main {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100svh;
  width: 100%;
  overflow: hidden;

  .content {
    overflow: hidden;
  }

  footer {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $bodyColor;
    background-color: $bodyColor;

    > * {
      color: $backgroundColor;
    }

    #greeting {
      margin-right: 15px;
    }
  }
}

// INDEX PAGE STYLES ****************************************************

.index {
  display: grid;
  grid-template-columns: 500px 1fr 1000px 500px;
  overflow: hidden;
  height: 100%;

  .extra-section {
    background-color: $bodyColor;
  }

  @media (max-width: $desktopRule) {
    grid-template-columns: 25% 1fr 25%;
    .extra-section {
      display: none;
    }
  }
  @media (max-width: $laptopRule) {
    grid-template-columns: 35% 65%;
    .middle-section {
      display: none;
    }
  }
  @media (max-width: $mobileRule) {
    grid-template-columns: 45% 55%;
  }
}

.page-content {
  height: 100%;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

// DETAILS SUMMARY STYLES ****************************************************

details {
  margin-bottom: 10px;
  &:not(:first-of-type) {
    margin-top: 20px;
  }

  summary {
    cursor: pointer;
    outline: none;
    margin: 10px 0 10px 0;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 3px;
      }
    }
  }

  > span {
    line-height: 1.25;
  }
}

// DROPDOWN STYLES ****************************************************

.dropdown-container {
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 5px;

  .dropdown-header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    min-width: 130px;
    justify-content: space-between;
    gap: 10px;
  }

  .dropdown-options {
    z-index: 1000;
    display: none;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 5px 0 0 0;
    position: absolute;
    border: 1px solid $bodyColor;
    border-radius: 10px;
    background-color: $backgroundColor;
    backdrop-filter: blur(10px);
    overflow: hidden;

    li {
      padding: 5px 10px;
      cursor: pointer;
      border-bottom: 1px solid $bodyColor;

      &:last-child {
        border-bottom: none;
      }

      @media (hover: hover) {
        &:hover {
          background-color: $bodyColor;
          color: $backgroundColor;
        }
      }
    }
  }

  &.is-open .dropdown-options {
    display: block;
  }
}

// MARKDOWN STYLES ****************************************************

blockquote {
  border-left: 4px solid $bodyColor;
  padding: 0 10px;
  margin: 20px;
}

sup {
  vertical-align: top;
  font-size: 0.9rem;

  a.footnote-ref {
    pointer-events: none;
    font-size: 0.9rem;
    margin-left: 2px;
  }
}

.footnotes {
  font-size: 0.8rem;
  hr {
    border: none;
  }
  ol {
    padding-left: 20px;
  }
  ol li p {
    margin-bottom: 0;
  }
  a {
    padding-left: 5px;
  }
}

// BLOG STYLES ****************************************************

.post {
  margin-bottom: 20px;
  max-width: 800px;
  h1 {
    margin: 10px 0;
    line-height: 0.8;
    font-weight: 500;
  }
  .postnav {
    width: 100%;
    display: flex;

    div:first-child {
      flex-basis: 100px;
      flex-grow: 0;
      flex-shrink: 0;
    }
    div:last-child {
      width: auto;
    }
    &:first-of-type {
      margin-top: 20px;
    }
  }

  .category {
    margin-bottom: 20px;
    line-height: 1.3;

    > * {
      width: fit-content;
    }
  }

  .postcontent {
    margin: 0 0 20px 0;
    line-height: 1.3;

    a {
      display: inline;
    }
  }
}

// ART STYLES ****************************************************

.gallery-image {
  margin: 10px 0;
  max-width: 500px;
}

// PLAYER STYLES ****************************************************

#player {
  width: fit-content;
  margin: 15px 0 0 0;
  position: relative;

  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    path {
      fill: $bodyColor;
    }
  }
}

// PILL STYLES ****************************************************

.pill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  .pill {
    width: fit-content;
  }
}

.pill {
  padding: 5px 10px;
  border: 1px solid $bodyColor;
  border-radius: 10px;
  width: fit-content;

  @media (hover: hover) {
    &:hover,
    &:hover * {
      color: $backgroundColor;
      background-color: $bodyColor;
      path {
        fill: $backgroundColor !important;
      }
    }
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $bodyColor;
  transition: opacity 0.8s ease-in-out;
  z-index: 9999;
  pointer-events: none;
}

// FUNCTIONAL STYLES ****************************************************

::-webkit-scrollbar {
  display: none;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.title {
  font-size: 4rem;
  letter-spacing: -0.25rem;
  line-height: 0.9;

  @media (max-width: $tabletRule) {
    font-size: 3rem;
    letter-spacing: -0.2rem;
  }
  @media (max-width: $mobileRule) {
    font-size: 2.5rem;
    letter-spacing: -0.15rem;
  }
}

.border-right {
  border-right: 1px solid $bodyColor;
}

.separate-row:not(:empty) {
  padding-bottom: 10px;
  border-bottom: 1px solid $bodyColor;
}

.link-image {
  span {
    display: none;
    z-index: 999;
    position: fixed;
    right: 10px;
    top: 20%;
    max-width: min(500px, calc(100% - 20px));
  }

  @media (hover: hover) {
    &:hover span {
      display: block;
      img {
        width: 100%;
      }
    }
  }
}
